media/
library/

**/*/__pycache__
**/.DS_Store
*/.env
db.sqlite3
.vscode/
.hintrc
*/uwsgi.ini
*/static/

# Ignore all .pyc files
*.pyc

# Ignore private settings
.env
PyPI.txt

# Ignore pypi build files
dist/
build/
*.egg-info/
setup.py
pypibuild.sh

